<section class="text-center">
    <div class="background p-5 bg-image"></div>
    <!--carte-->
    <div class="card mx-md-5 shadow-5-strong">
        <div class="card-body px-md-4">
            <div class="row d-flex justify-content-center align-items-center"> <!-- Add align-items-center -->
                <div class="col-lg-11 text-center">
                    <div class="row align-items-center"> <!-- Add align-items-center -->
                        <div class="col-md-12">
                            <!--image de changer MDP-->
                            <img src="resources/hz8f7/login/custom-theme/assets/images/updatePassword.png"
                                class="icon-update">
                            <h3 class="title-update">Changer de mot de passe</h3>
                            <p>Votre mot de passe doit contenir au moins 8 caractères <br> ainsi qu'une combinaison de
                                chiffres, de lettres et de caractères spéciaux.</p>
                        </div>
                        <!--formulaire de changement de MDP-->
                        <form #updatePasswordFormHTMLElement [formGroup]="updatePasswordForm" novalidate
                            (ngSubmit)="onSubmit()" id="kc-form-up" name="kc-form-up" method="POST"
                            class="d-flex flex-column justify-content-between mr-auto w-75">
                            <div class="form-group row justify-content-center align-items-center">
                                <!--label nouveau MDP-->
                                <div class="col-md-4">
                                    <label class="label" class="form-label" for="new-password"><strong> Nouveau Mot de
                                            passe<span class="oblig">*</span></strong></label>
                                </div>
                                <!--input nouveau MDP avec icone de l'oeil-->
                                <div class="col-md-6 mb-2">
                                    <div class="input-with-icon">
                                        <input class="input form-control" formControlName="password-new"
                                            name="password-new" [type]="showNewPassword ? 'text ' : 'password'" />
                                        <span *ngIf="newPassword.length > 0" class="icon"
                                            (click)="toggleNewPasswordVisibility()">
                                            <i class="fa"
                                                [ngClass]="showNewPassword ? 'fa-solid fa-eye ' : 'fa-solid fa-eye-slash'"></i>
                                        </span>
                                        <!--message d'erreur pour montrer que le nouveau MDP est un champ obligatoire-->
                                        <div class="text-danger error-messages error"
                                            *ngIf="upForm['password-new'].touched && upForm['password-new'].errors?.['required']">
                                            Champ obligatoire. Veuillez le renseigner
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center align-items-center">
                                <!--label confirmer nouveau MDP-->
                                <div class="col-md-4">
                                    <label class="label" class="form-label" for="password-confirm"><strong> Confirmer
                                            nouveau mot<br> de passe<span class="oblig">*</span></strong></label>
                                </div>
                                <!--input confirmer nouveau MDP avec icone de l'oeil-->
                                <div class="col-md-6 mb-2">
                                    <div class="input-with-icon">
                                        <input class="input form-control" formControlName="password-confirm"
                                            name="password-confirm"
                                            [type]="showConfirmPassword ? 'text ' : 'password'" />
                                        <span *ngIf="confirmPassword.length > 0" class="icon"
                                            (click)="toggleConfirmPasswordVisibility()">
                                            <i class="fa"
                                                [ngClass]="showConfirmPassword ? 'fa-solid fa-eye ' : 'fa-solid fa-eye-slash'"></i>
                                        </span>

                                        <!--message d'erreur pour montrer que confirmer nouveau MDP est un champ obligatoire-->
                                        <div class="text-danger error-messages error"
                                            *ngIf="upForm['password-confirm'].touched && upForm['password-confirm'].errors?.['required']">
                                            Champ obligatoire. Veuillez le renseigner
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-end col-md-9 ">
                                <!--bouton changer MDP-->
                                <button type="submit" class="btn" (click)="submitForm()">Changer le Mot de
                                    Passe</button><br>
                                <div *ngIf="showErrorMessages && updatePasswordForm.get('password-new')?.touched && updatePasswordForm.get('password-new')?.errors"
                                    class="text-danger">
                                    Champ obligatoire. Veuillez le renseigner
                                </div>
                                <div *ngIf="showErrorMessages && updatePasswordForm.hasError('passwordsNotMatch')"
                                    class="text-danger">
                                    Les mots de passe ne correspondent pas.
                                </div>


                                <!--message d'erreur au cas ou` nouveau MDP et confirmer nouveau MDP ne se correspondent pas 
                                <div *ngIf="showErrorMessages && updatePasswordForm.get('password-confirm')?.touched &&
                                  updatePasswordForm.value['password-confirm'] !== updatePasswordForm.value['password-new']"
                                    class="text-danger">
                                    {{ errorMessage }}
                                </div>-->

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>