.btn {
  background-color: rgb(48, 61, 105);
  color: white;
  border-radius: 10px;
}

.background {
  background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
  height: 300px;
}

.card {
  margin-top: -250px;
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: blur(30px);
}

button[type="button"]:hover {
  background-color: rgb(144, 202, 249);
  color: black;
  border-color: black;
}

/* Masquer l'icône de l'œil par défaut dans les champs de saisie de mot de passe */
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-ms-reveal {
  display: none;
}

.form-label {
  color: rgb(48, 61, 105);
  margin-top: 20px;
}

.title-update {
  color: rgb(106, 194, 239);

}

.form-control {
  background-color: rgba(144, 202, 249, 0.055);
}

.error-messages {
  font-size: 12px;
  margin-top: 8px;
}


.input-with-icon {
  position: relative;
}

/*icone de l'oeil*/
.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.icon i {
  font-size: 1.2rem;
}

/* Définissez les styles pour l'icône visible et invisible
.fa-eye:before {
  content: "\f06e";
}

.fa-eye-slash:before {
  content: "\f070";
} */